.example-letter-box {
  position: relative;
  height:12em;
  overflow: hidden;
  text-align: center;
  transition: height 0.7s ease;
}

.example-letter-box:before {
  border-bottom:1px solid silver;
  border-top:1px solid silver;
  content:'Click to see the whole letter';
  display:block;
  height:100%;
  left:0;
  pointer-events: none;
  position:absolute;
  top:0;
  width:100%;
}​

.example-letter {
  width: 70%;
}

.letter-box-open {
  height:inherit;
  
  &:before {
      content:'';
  }
}
