.svg-clipper {
  display: inline-block;
  height: 4em;
  overflow: hidden;
  margin-left: 3em;
}

.writing-implement {
  width: 2em;
  margin: 0.3em;
}

g.colour {
  opacity: .04;
}

g.outline {
  display: none;
}

// div.svg-clipper > div:nth-child(2) > svg > g.ball > g.colour.active {
//     display: inline;
// }


.pen {
  margin-left: 3em;
  margin-top: 2em;
  p {
      font-size:100%;
  }

}


@mixin stroke-bump($stroke-colour) {
  g.lines path, g.lines polygon, g.lines polyline {stroke: $stroke-colour;}

  &:hover {
      g.lines path, g.lines polygon, g.lines polyline {
          stroke-width: 7;
      }

  }

}

//fountain black
div.svg-clipper > div:nth-child(1) > svg {
  &> g.ball, &> g.pencil { display: none; }

  @include stroke-bump(black);
}

//fountain blue
div.svg-clipper > div:nth-child(2) > svg {
  &> g.ball, &> g.pencil { display: none; }

  @include stroke-bump(blue);
}

//ball pen black
div.svg-clipper > div:nth-child(3) > svg {
  &> g.fountain, &> g.pencil { display: none; }

  @include stroke-bump(black);
}

//ball pen blue
div.svg-clipper > div:nth-child(4) > svg   {
  &> g.fountain, &> g.pencil { display: none; }

  @include stroke-bump(blue);
}

//pencil
div.svg-clipper > div:nth-child(5) > svg   {
  &> g.fountain, &> g.ball { display: none; }

  @include stroke-bump(darkgrey);
}


.writing-implement.active .colour {
  opacity: 1;
}
