
/*media query targeting xs*/
@media all and (max-width: 768px){
    .what-row-text {
        -webkit-column-count:1;
           -moz-column-count:1;
             -o-column-count:1;
                column-count:1;
    }
    textarea {
        border:none;
        width: 100%;
        height: 50%
    }
    .example-letter-box {
        height:inherit;
    }
    .example-letter-box:before {
        content:'';
    }​
    .row{
        margin: 0;
    }
    .note-row{
        padding-bottom: 0;
    }
    .card, .envelope{
        margin: 2em;
        padding-top: 1em;
        height:50%;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        padding-bottom: 2em;
        position: relative;
    }
    .card {
        padding-left: 2em;
        padding-right:2em;
    }
    .envelope {
        padding-right: 2em;
        padding-left: 2em;
        textarea {
            width: 100%;
            margin-left: 0;
            padding-left: 10%;
            padding-right: 10%;
        }
    }
    .stamp{
        margin-right: 0;
        width: 4em;
        height: 3em;
        margin-bottom: 1em
    }
    .button-bar{
        margin-top: 0em;
    }
    .card-error-message{
        top: 35%;
        width: 75%;
        padding-left: 0.5em;
    }
    .envelope-error-message{
        top: 50%;
        width: 70%;
        padding-left: 2em;
    }
    .t-and-c input[type=checkbox]{
        margin: 1.5em;
        -webkit-transform : scale(3);
        -moz-transform    : scale(3);
        -o-transform      : scale(3);
        transform         : scale(3);
    }
    input#email-button {
        height: 6em;/*make the button big enough to touch*/
        margin-top: 1em;
    }
    .p-and-t p {
        line-height: 2em;
    }
    .tc-text{
        display: inline-block;
        width: 50%;
        -webkit-transform: translateY(2em);
        -moz-transform: translateY(2em);
        -o-transform: translateY(2em);
        transform: translateY(2em);
    }
    /*media query targeting xs*/
    /*specifically targeting iphone 4*/
    @media all and (max-height: 900px) and (min-height: 481px){
        html, body {
        overflow-x: hidden;
        }
        .container {
            padding-left: 2em;
            padding-right: 1em;
        }
        .jumbotron {
            font-size: 40% !important;
        }
        .btn h3 {
            font-size: 1em;
        }
        div.baller {
            padding: 0;
        }
        .where-text {
            padding-top: 0;
        }
    }
    @media all and (max-height: 480px){
        svg.logo-bird {
            /* the bird seems to be using up too much space on really small screens*/
            display: none;
        }
        .stamp svg.logo-bird {
            /*this feels a bit backwards*/
            display: inherit;
        }
    }
}