@charset"utf-8";
.needs-a-rewrite{
    /*this is applied to paragraphs
    that need to be rewritten*/
    color: rgb(181, 120, 8);
    border: 1px solid red;
    border-top: none;
    border-bottom: none;
}
/*everywhere stuff*/
body {
    background: rgba(62, 71, 157, 0.05);
    /*overflow-x: hidden !important;*/
    font-family: "Roboto Slab";
    font-weight: 300;
}
h1,h2,h3,h4,h5{
    font-weight: 400;
}
html, body {
    height:100%;
    width:100%;
    overflow-x: hidden;
}
p {
    font-size: 133.3333333%;
    orphans: 2;
    widows: 2;
}
/*above fold stuff*/
.jumbotron.container{
    padding: 0;
    margin: 0;
}
.jumbotron {
    height:92.5%;
    position: relative;
}
.header-page {
    color: rgba(222, 30, 38, 1);
    /*etching dude*/
    background-image: url('http://therapyfirst.files.wordpress.com/2013/06/writing-a-letter.gif');
    /*painting dude*/
    /*background-image: url('http://upload.wikimedia.org/wikipedia/commons/a/a8/Gabriel_Metsu_-_Man_Writing_a_Letter.JPG');*/
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.logo-bird {
    height:8em;
}
svg #pigeon {
    fill:rgba(222, 30, 38, 1);
}
.caption {
    background-color: rgba(255,255,255,0.95);
    /*margin-left:  20%;*/
    /*margin-right: 20%;*/
    padding: 1em;
    padding-top: 0.2em;
}
.page-info {
    height: 5em;
}
.down-arrow {
    position: absolute;
    top: 90%;
    width: 100%;
}
.btn h3 {
    display: inline;
    margin-left: 1em;
    margin-right: 1em;
}

.bb{
    width: 100%;
    height: inherit;
    position: absolute;
    bottom: 2em;
    left: 0;
}
/*writing section*/
.char-count{
    margin-left: 0.3em;
}
.card-holder,.envelope-holder{
    padding: 0;
}
.card, .envelope{
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.card {
    height:44em;
    padding: 2em;
    -webkit-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.3);
}
.card-holder{
    z-index: 7000;
}
.envelope {
    margin-top: 4em;
    padding-top: 4em;
    padding-right: 4em;
    height: 30em;
    padding-bottom: 12em;
    -webkit-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.4);
}
.textarea-error{
    border:2px solid red;
}
.card-error-message, .envelope-error-message{
        position: absolute;
        top: 50%;
        text-align: center;
        font-size: 1.5em;
        color: red;
        /* border: 1px solid; */
        width: 85%;
        visibility: hidden;

        display: none;
    }
.envelope-error-message{
    top:64%;
}
.stamp {
    background-color: rgba(222, 30, 38, 1);
    width: 8em;
    height: 5em;
    padding: 0.5em;
    margin-bottom: 4em;
}
.stamp svg {
    height: 100%;
    margin-left: 20%;
}
.stamp svg #pigeon {
    fill:white;
}
textarea {
    border:none;
    width: 100%;
    height: 100%;
    padding:1em;
}
.envelope textarea {
    padding-left: 20%;
    padding-right: 15%;
}
.invisible-bit {
    display: none;
}
.note-row {
    padding-bottom: 4em;
    position: relative;
}
.pro-tips{
    position: absolute;
    top:   0;
    right: 0;
    margin-top: 4em;
    height: 3em;
    width: 11em;
    /*border: 1px solid black;*/
    overflow: hidden;
    padding:1em;
    background-color: white;
    z-index: 5000;
    border-radius: 1.4em;

    -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.3);

    transition: width 0.3s ease
              , height 0.3s ease
              , -webkit-box-shadow 0.3s ease
              , -moz-box-shadow 0.3s ease
              , box-shadow 0.3s ease
              , border-radius 0.3s ease
}
.pro-tips-active{
    height:inherit;
    width: 36%;
    -webkit-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.3);
    border-radius: 0;
}
.pro-tips h3{
    margin-top: -0.5em;
    text-align: right;
}

/*explanation section*/
.numbered-illustration {
    position: relative;
    margin-bottom: 1em;
}
.illustration {
    width:100%;
}
.number {
    position: absolute;
    left: 7%;
    top: 7%;
    width: 2em;
    padding: 0.3em;
    border-radius: 1em;
    border-width: 0.2em;
    border-color: white;
    background-color: rgba(222, 30, 38, 1);
    font-size: 2em;
    color: white;
}
.what-row {
    padding-bottom: 4em;
}
.what-row-text {
    -webkit-column-count:3;
       -moz-column-count:3;
         -o-column-count:3;
            column-count:3;
}
.how-row {
    padding-bottom: 4em;
}
.where-row {
    color:white;
    background-color: rgba(62, 71, 157, 1);
}
.where-text {
    padding-top: 4em;
}
.map {
    width: 100%
}
/*footer*/
.footer-row{
    font-size: 62.5%;
    padding-bottom: 4em;
}
.airmail-stripe {
    margin-top: 3em;
    margin-bottom: 3em;
    height:2em;
    border-radius: 1em;
    background-color: rgba(62, 71, 157, 1);
    background: repeating-linear-gradient(117deg, rgba(62, 71, 157, 1) 0px, rgba(62, 71, 157, 1) 30px, transparent 30px, transparent 60px, rgba(222, 30, 38, 1) 60px, rgba(222, 30, 38, 1) 90px, transparent 90px, transparent 120px);
}
.email-form {
    padding: 0.5;
    margin-bottom: 1em;
}
ul.nav-menu {
    float: right;
}
ul.nav-menu li {
    display: inline-block;
    padding-left: 3em;
}
.btn-ghost {
    transition: background-color 0.5s ease,
                color 0.5s ease;
    color:rgba(222, 30, 38, 1);
    border-color:rgba(222, 30, 38, 1);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1em;
}
.t-and-c{
    margin-top: 2em;
    margin-bottom: 2em;
}
.t-and-c-error {
    display: block;
    padding-left: 11em;
    color: red;
    width: 60%;
}
#realButton {
    padding-bottom: 1em;
    padding-top: 0px;
}
.paypal-logo {
    /*Paypal logo comes from:
    http://htmlpreview.github.io/?https://gist.githubusercontent.com/jomo/141e186af45fa1f803af/raw/c7dcd85978f443c2cfb42305bb568dea6c87f6ed/paypal.svg*/
    height:2em;
    width: 2em;
    -webkit-transform: translateY(0.9em);
    -moz-transform: translateY(0.9em);
}
.send-btn-text {
}
.button-bar {
    margin-top: 4em;
    width: 100%;
}
.us {
    width: 100%;
    height: 10em;
    background-image: url(https://scontent-b-hkg.xx.fbcdn.net/hphotos-xpf1/t1.0-9/10387492_798119716721_3637458185492150532_n.jpg);
    background-position: 50% 60%;
    background-size: 138%;
    border-radius: 5em;
}
.ball-icon{
    width: 100%;
}

.paypal-wait-box{
    margin-top: 0;
    overflow: hidden;
    white-space: normal;
    font-size: 150%;
    visibility: hidden;
    display: none;
    height: inherit;
}
.visible{
    visibility: visible;
    display: block;
}
.paypal-wait-icon{
    width: 1em;
    height: 1em;
    float: left;
    font-size: 300%;
    -webkit-animation-name: rotation;
    -webkit-animation-duration: 4s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite; 
}
@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to   {-webkit-transform: rotate(359deg);}
}
.paypal-wait-words{
    white-space: normal;
}

/*media query targeting xs*/
@media all and (max-width: 768px){
    .what-row-text {
        -webkit-column-count:1;
           -moz-column-count:1;
             -o-column-count:1;
                column-count:1;
    }
    textarea {
        border:none;
        width: 100%;
        height: 50%
    }
    .row{
        margin: 0;
    }
    .note-row{
        padding-bottom: 0;
    }
    .card, .envelope{
        margin: 2em;
        padding-top: 1em;
        height:50%;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        padding-bottom: 2em;
        position: relative;
    }
    .card {
        padding-left: 2em;
        padding-right:2em;
    }
    .envelope {
        padding-right: 2em;
        padding-left: 2em;
    }
   .envelope textarea {
        width: 100%;
        margin-left: 0;
        padding-left: 10%;
        padding-right: 10%;
    }
    .stamp{
        margin-right: 0;
        width: 4em;
        height: 3em;
        margin-bottom: 1em
    }
    .button-bar{
        margin-top: 0em;
    }
    .card-error-message{
        top: 35%;
        width: 75%;
        padding-left: 0.5em;
    }
    .envelope-error-message{
        top: 50%;
        width: 70%;
        padding-left: 2em;
    }
    .t-and-c input[type=checkbox]{
        margin: 1.5em;
        -webkit-transform : scale(3);
        -moz-transform    : scale(3);
        -o-transform      : scale(3);
        transform         : scale(3);
    }
    input#email-button {
        height: 6em;/*make the button big enough to touch*/
        margin-top: 1em;
    }
    .p-and-t p {
        line-height: 2em;
    }
    /*media query targeting xs*/
    /*specifically targettign iphone 4*/
    @media all and (max-height: 900px){
        .jumbotron {
            font-size: 50% !important;
        }
        .btn h3 {
            font-size: 1em;
        }
        img.ball-icon {
            -webkit-transform-origin: top;
            -webkit-transform: scale(2);

            -moz-transform-origin: top;
            -moz-transform: scale(2);

            -o-transform-origin: top;
            -o-transform: scale(2);

            transform-origin: top;
            transform: scale(2);
        }
        .where-text {
            padding-top: 0;
        }
    }
}

