@charset "UTF-8";
@-ms-viewport {
  /*this supposedly fixes it for win mob 8*/
  width: device-width; }
* {
  box-sizing: border-box; }

/*everywhere stuff*/
body {
  background: rgba(62, 71, 157, 0.05);
  font-family: "Roboto Slab";
  font-weight: 300; }

h1, h2, h3, h4, h5 {
  font-weight: 400; }

html, body {
  height: 100%;
  width: 100%; }

p {
  font-size: 133.3333333%;
  orphans: 2;
  widows: 2; }

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: middle;
  overflow: hidden; }

.svg-content {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0; }

.btn-ghost {
  transition: background-color 0.5s ease, color 0.5s ease;
  color: #de1e26;
  border-color: #de1e26;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1em; }

.jumbotron {
  height: 92.5%;
  position: relative; }
  .jumbotron .container {
    width: 100%;
    padding: 0;
    margin: 0; }

.header-page {
  color: #de1e26;
  /*etching dude*/
  background-image: url("img/writing-a-letter.gif");
  /*painting dude*/
  /*background-image: url('http://upload.wikimedia.org/wikipedia/commons/a/a8/Gabriel_Metsu_-_Man_Writing_a_Letter.JPG');*/
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.logo-bird {
  height: 8em; }

.caption {
  background-color: rgba(255, 255, 255, 0.95);
  /*margin-left:  20%;*/
  /*margin-right: 20%;*/
  padding: 1em;
  padding-top: 0.2em; }

.page-info {
  height: 5em; }

.down-arrow {
  position: absolute;
  top: 90%;
  width: 100%; }

.btn .button-text {
  display: inline;
  margin-left: 1em;
  margin-right: 1em; }

.button-box {
  width: 100%;
  height: inherit;
  position: absolute;
  bottom: 2em;
  left: 0; }

.svg-clipper {
  display: inline-block;
  height: 4em;
  overflow: hidden; }

.writing-implement {
  width: 2em;
  margin: 0.3em; }

g.colour {
  opacity: 0.04; }

g.outline {
  display: none; }

.pen {
  margin-left: 3em;
  margin-top: 2em; }
  .pen p {
    font-size: 100%; }

.svg-clipper {
  margin-left: 3em; }

div.svg-clipper > div:nth-child(1) > svg > g.ball, div.svg-clipper > div:nth-child(1) > svg > g.pencil {
  display: none; }
div.svg-clipper > div:nth-child(1) > svg g.lines path, div.svg-clipper > div:nth-child(1) > svg g.lines polygon, div.svg-clipper > div:nth-child(1) > svg g.lines polyline {
  stroke: black; }
div.svg-clipper > div:nth-child(1) > svg:hover g.lines path, div.svg-clipper > div:nth-child(1) > svg:hover g.lines polygon, div.svg-clipper > div:nth-child(1) > svg:hover g.lines polyline {
  stroke-width: 7; }

div.svg-clipper > div:nth-child(2) > svg > g.ball, div.svg-clipper > div:nth-child(2) > svg > g.pencil {
  display: none; }
div.svg-clipper > div:nth-child(2) > svg g.lines path, div.svg-clipper > div:nth-child(2) > svg g.lines polygon, div.svg-clipper > div:nth-child(2) > svg g.lines polyline {
  stroke: blue; }
div.svg-clipper > div:nth-child(2) > svg:hover g.lines path, div.svg-clipper > div:nth-child(2) > svg:hover g.lines polygon, div.svg-clipper > div:nth-child(2) > svg:hover g.lines polyline {
  stroke-width: 7; }

div.svg-clipper > div:nth-child(3) > svg > g.fountain, div.svg-clipper > div:nth-child(3) > svg > g.pencil {
  display: none; }
div.svg-clipper > div:nth-child(3) > svg g.lines path, div.svg-clipper > div:nth-child(3) > svg g.lines polygon, div.svg-clipper > div:nth-child(3) > svg g.lines polyline {
  stroke: black; }
div.svg-clipper > div:nth-child(3) > svg:hover g.lines path, div.svg-clipper > div:nth-child(3) > svg:hover g.lines polygon, div.svg-clipper > div:nth-child(3) > svg:hover g.lines polyline {
  stroke-width: 7; }

div.svg-clipper > div:nth-child(4) > svg > g.fountain, div.svg-clipper > div:nth-child(4) > svg > g.pencil {
  display: none; }
div.svg-clipper > div:nth-child(4) > svg g.lines path, div.svg-clipper > div:nth-child(4) > svg g.lines polygon, div.svg-clipper > div:nth-child(4) > svg g.lines polyline {
  stroke: blue; }
div.svg-clipper > div:nth-child(4) > svg:hover g.lines path, div.svg-clipper > div:nth-child(4) > svg:hover g.lines polygon, div.svg-clipper > div:nth-child(4) > svg:hover g.lines polyline {
  stroke-width: 7; }

div.svg-clipper > div:nth-child(5) > svg > g.fountain, div.svg-clipper > div:nth-child(5) > svg > g.ball {
  display: none; }
div.svg-clipper > div:nth-child(5) > svg g.lines path, div.svg-clipper > div:nth-child(5) > svg g.lines polygon, div.svg-clipper > div:nth-child(5) > svg g.lines polyline {
  stroke: darkgray; }
div.svg-clipper > div:nth-child(5) > svg:hover g.lines path, div.svg-clipper > div:nth-child(5) > svg:hover g.lines polygon, div.svg-clipper > div:nth-child(5) > svg:hover g.lines polyline {
  stroke-width: 7; }

.writing-implement.active .colour {
  opacity: 1; }

.card-holder, .envelope-holder {
  padding: 0; }

.card, .envelope {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1); }

.card {
  height: 44em;
  padding: 2em;
  -webkit-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.3); }

.card-holder {
  z-index: 7000; }

.envelope {
  margin-top: 4em;
  padding-top: 4em;
  padding-right: 4em;
  height: 30em;
  padding-bottom: 12em;
  -webkit-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.4); }

.textarea-error {
  border: 2px solid red; }

.t-and-c {
  margin-top: 2em;
  margin-bottom: 2em; }

.t-and-c-error {
  display: none;
  padding-left: 11em;
  color: red;
  width: 60%; }

.card-error-message, .envelope-error-message {
  position: absolute;
  top: 50%;
  text-align: center;
  font-size: 1.5em;
  color: red;
  /* border: 1px solid; */
  width: 85%;
  visibility: hidden;
  display: none; }

.envelope-error-message {
  top: 64%; }

.stamp {
  background-color: #de1e26;
  width: 8em;
  height: 5em;
  padding: 0.5em;
  margin-bottom: 4em; }
  .stamp svg {
    height: 100%; }
    .stamp svg .pigeon {
      fill: white; }

textarea {
  border: none;
  width: 100%;
  height: 100%;
  padding: 1em; }

.envelope textarea {
  padding-left: 20%;
  padding-right: 15%; }

.char-count {
  margin-left: 0.3em; }

.numbered-illustration {
  position: relative;
  margin-bottom: 1em; }

.illustration {
  width: 100%; }

.number {
  position: absolute;
  left: 7%;
  top: 7%;
  width: 2em;
  padding: 0.3em;
  border-radius: 50%;
  background-color: #de1e26;
  font-size: 2em;
  color: white;
  text-align: center; }

.ball-icon {
  width: 100%; }

.example-letter-box {
  position: relative;
  height: 12em;
  overflow: hidden;
  text-align: center;
  transition: height 0.7s ease; }

.example-letter-box:before {
  content: 'Click to see the whole letter';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
  pointer-events: none; }

​
.example-letter {
  width: 70%; }

.letter-box-open {
  height: inherit; }
  .letter-box-open:before {
    content: ''; }

.invisible-bit {
  display: none; }

.note-row {
  padding-bottom: 4em;
  position: relative; }

.panel-title a {
  display: block;
  width: 100%;
  text-align: right;
  font-size: 130%; }

.what-row {
  padding-bottom: 4em; }

.what-row-text {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  -o-column-count: 3;
  column-count: 3; }

.how-row {
  padding-bottom: 4em; }

.where-row {
  color: white;
  background-color: #3e479d; }

.where-text {
  padding-top: 4em; }

.map {
  width: 100%; }

.paypal-wait-box {
  margin-top: 0;
  overflow: hidden;
  white-space: normal;
  font-size: 150%;
  visibility: hidden;
  display: none;
  height: inherit; }

.visible {
  visibility: visible;
  display: block; }

.paypal-wait-icon {
  width: 1em;
  height: 1em;
  float: left;
  font-size: 300%;
  -webkit-animation-name: rotation;
  -webkit-animation-duration: 4s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite; }

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg); }

  to {
    -webkit-transform: rotate(359deg); } }
.paypal-wait-words {
  white-space: normal; }

.button-bar {
  margin-top: 4em;
  width: 100%; }

.paypal-logo {
  /*Paypal logo comes from:
  http://htmlpreview.github.io/?https://gist.githubusercontent.com/jomo/141e186af45fa1f803af/raw/c7dcd85978f443c2cfb42305bb568dea6c87f6ed/paypal.svg*/
  height: 2em;
  width: 2em;
  -webkit-transform: translateY(0.9em);
  -moz-transform: translateY(0.9em); }

#realButton {
  padding-bottom: 1em;
  padding-top: 0px; }

.us {
  width: 100%;
  height: 10em;
  background-image: url(https://scontent-b-hkg.xx.fbcdn.net/hphotos-xpf1/t1.0-9/10387492_798119716721_3637458185492150532_n.jpg);
  background-position: 50% 60%;
  background-size: 138%;
  border-radius: 5em; }

.email-form {
  padding: 0.5;
  margin-bottom: 1em; }

.footer-row {
  font-size: 62.5%;
  padding-bottom: 4em; }

.social-icon {
  height: 5em;
  width: 5em; }

.airmail-stripe {
  margin-top: 3em;
  margin-bottom: 3em;
  height: 2em;
  border-radius: 1em;
  background-color: #3e479d;
  background: repeating-linear-gradient(117deg, #3e479d 0px, #3e479d 30px, transparent 30px, transparent 60px, #de1e26 60px, #de1e26 90px, transparent 90px, transparent 120px); }

/*media query targeting xs*/
@media all and (max-width: 768px) {
  .what-row-text {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    -o-column-count: 1;
    column-count: 1; }

  textarea {
    border: none;
    width: 100%;
    height: 50%; }

  .example-letter-box {
    height: inherit; }

  .example-letter-box:before {
    content: ''; }

  ​
  .row {
    margin: 0; }

  .note-row {
    padding-bottom: 0; }

  .card, .envelope {
    margin: 2em;
    padding-top: 1em;
    height: 50%;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding-bottom: 2em;
    position: relative; }

  .card {
    padding-left: 2em;
    padding-right: 2em; }

  .envelope {
    padding-right: 2em;
    padding-left: 2em; }
    .envelope textarea {
      width: 100%;
      margin-left: 0;
      padding-left: 10%;
      padding-right: 10%; }

  .stamp {
    margin-right: 0;
    width: 4em;
    height: 3em;
    margin-bottom: 1em; }

  .button-bar {
    margin-top: 0em; }

  .card-error-message {
    top: 35%;
    width: 75%;
    padding-left: 0.5em; }

  .envelope-error-message {
    top: 50%;
    width: 70%;
    padding-left: 2em; }

  .t-and-c input[type=checkbox] {
    margin: 1.5em;
    -webkit-transform: scale(3);
    -moz-transform: scale(3);
    -o-transform: scale(3);
    transform: scale(3); }

  input#email-button {
    height: 6em;
    /*make the button big enough to touch*/
    margin-top: 1em; }

  .p-and-t p {
    line-height: 2em; }

  .tc-text {
    display: inline-block;
    width: 50%;
    -webkit-transform: translateY(2em);
    -moz-transform: translateY(2em);
    -o-transform: translateY(2em);
    transform: translateY(2em); }

  /*media query targeting xs*/
  /*specifically targeting iphone 4*/ }
@media all and (max-width: 768px) and (max-height: 900px) and (min-height: 481px) {
  html, body {
    overflow-x: hidden; }

  .container {
    padding-left: 2em;
    padding-right: 1em; }

  .jumbotron {
    font-size: 40% !important; }

  .btn h3 {
    font-size: 1em; }

  div.baller {
    padding: 0; }

  .where-text {
    padding-top: 0; } }
@media all and (max-width: 768px) and (max-height: 480px) {
  svg.logo-bird {
    /* the bird seems to be using up too much space on really small screens*/
    display: none; }

  .stamp svg.logo-bird {
    /*this feels a bit backwards*/
    display: inherit; } }

/*# sourceMappingURL=note.css.map */
