@charset"utf-8";
 body {
    background: rgba(62, 71, 157, 0.05);
    overflow-x: hidden !important;
}
html, body {
    height:100%;
    width:100%;
    overflow-x: hidden;
}
p {
    font-size: 133.3333333%;
    orphans: 2;
    widows: 2;
}
.jumbotron {
    height:92.5%;
    position: relative;
}
.header-page {
    color: rgba(222, 30, 38, 1);
    /*etching dude*/
    background-image: url('http://therapyfirst.files.wordpress.com/2013/06/writing-a-letter.gif');
    /*painting dude*/
    /*background-image: url('http://upload.wikimedia.org/wikipedia/commons/a/a8/Gabriel_Metsu_-_Man_Writing_a_Letter.JPG');*/
    background-position: center center;
    background-repeat: no-repeat;
    /*background-attachment: fixed; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.logo-bird {
    height:8em;
}
svg #pigeon {
    fill:rgba(222, 30, 38, 1);
}
.caption {
    background-color: rgba(255,255,255,0.8);
    margin-left:  20%;
    margin-right: 20%;
}
.card {
    height:44em;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 2em;
    -webkit-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.3);
}
.card-holder{
    padding-right: 0;
    z-index: 7000;
}
.envelope {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 4em;
    padding-top: 4em;
    padding-right: 4em;
    height: 30em;
    /*background-image:url('envelope.png');*/
    background-position: top right;
    background-repeat: no-repeat;
    /*background-attachment: fixed; */
    /*-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
    padding-bottom: 12em;
    -webkit-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.4);
}
.envelope-holder{
    padding-left: 0;
}
.stamp {
    background-color: rgba(222, 30, 38, 1);
    width: 8em;
    height: 5em;
    padding: 0.5em;
    margin-bottom: 4em;
}
.stamp svg {
    height:4em;
    margin-left: 1.5em;
}
.stamp svg #pigeon {
    fill:white;
}
textarea {
    border:none;
    width: 100%;
    height: 100%
}
.envelope textarea {
    padding-left: 20%;
    padding-right: 15%;
}
.invisible-bit {
    display: none;
}
.page-info {
    height: 5em;
}
.down-arrow {
    position: absolute;
    top: 90%;
    width: 90%;
}
.numbered-illustration {
    position: relative;
    margin-bottom: 1em;
}
.illustration {
    width:100%;
}
.number {
    position: absolute;
    left: 7%;
    top: 7%;
    width: 2em;
    padding: 0.3em;
    border-radius: 1em;
    border-width: 0.2em;
    border-color: white;
    background-color: rgba(222, 30, 38, 1);
    font-size: 2em;
    color: white;
}
.what-row {
    padding-bottom: 4em;
}
.what-row-text {
    -webkit-column-count:3;
}
.how-row {
    padding-bottom: 4em;
}
.where-row {
    color:white;
    background-color: rgba(62, 71, 157, 1);
}
.where-text {
    padding-top: 4em;
}
.map {
    width: 100%
}
.note-row {
    padding-bottom: 4em;
    position: relative;
}
.pro-tips{
    position: absolute;
    top:   0;
    right: 0;
    margin-top: 4em;
    height: 3em;
    width: 11em;
    /*border: 1px solid black;*/
    overflow: hidden;
    padding:1em;
    background-color: white;
    z-index: 5000;
    border-radius: 1.4em;

    -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.3);

    transition: width 0.3s ease
              , height 0.3s ease
              , -webkit-box-shadow 0.3s ease
              , -moz-box-shadow 0.3s ease
              , box-shadow 0.3s ease
              , border-radius 0.3s ease
}
.pro-tips-active{
    height:inherit;
    width: 36%;
    -webkit-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.3);
    border-radius: 0;
}
.pro-tips h3{
    margin-top: -0.5em;
    text-align: right;
}
.footer-row{
    font-size: 62.5%;
    padding-bottom: 4em;
}
.airmail-stripe {
    margin-top: 3em;
    margin-bottom: 3em;
    height:2em;
    border-radius: 1em;
    background-color: rgba(62, 71, 157, 1);
    background: repeating-linear-gradient(117deg, rgba(62, 71, 157, 1) 0px, rgba(62, 71, 157, 1) 30px, transparent 30px, transparent 60px, rgba(222, 30, 38, 1) 60px, rgba(222, 30, 38, 1) 90px, transparent 90px, transparent 120px);
}
.email-form {
    padding: 0.5;
    margin-bottom: 1em;
}
ul.nav-menu {
    float: right;
}
ul.nav-menu li {
    display: inline-block;
    padding-left: 3em;
}
.btn-ghost {
    transition: background-color 0.5s ease,
                color 0.5s ease;
    color:rgba(222, 30, 38, 1);
    border-color:rgba(222, 30, 38, 1);
    background-color: rgba(255, 255, 255, 0.8);
    padding-bottom: 1em;
}

#realButton {
    padding-bottom: 1em;
    padding-top: 0px;
}
.paypal-logo {
    /*Paypal logo comes from:
    http://htmlpreview.github.io/?https://gist.githubusercontent.com/jomo/141e186af45fa1f803af/raw/c7dcd85978f443c2cfb42305bb568dea6c87f6ed/paypal.svg*/
    height:2em;
    width: 2em;
    -webkit-transform: translateY(0.9em);
    -moz-transform: translateY(0.9em);
}
.send-btn-text {
}
.button-bar {
    margin-top: 4em;
    width: 100%;
}
.us {
    width: 100%;
    height: 10em;
    background-image: url(https://scontent-b-hkg.xx.fbcdn.net/hphotos-xpf1/t1.0-9/10387492_798119716721_3637458185492150532_n.jpg);
    background-position: 50% 60%;
    background-size: 138%;
    border-radius: 5em;
}
.ball-icon{
    width: 100%;
}

/*media query targeting xs*/
@media all and (max-width: 768px){
    .what-row-text {
        -webkit-column-count:1;
    }
    textarea {
        border:none;
        width: 100%;
        height: 50%
    }
    .card, .envelope{
        margin: 2em;
        padding-top: 1em;
        height:50%;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        padding-bottom: 2em;
    }
    .card {
        padding-left: 2em;
        padding-right:2em;
    }
    .envelope {
    }
    .envelope textarea {
        width: 100%;
        margin-left: 0;
        padding-left: 20%;
        padding-right: 40%;
    }
    .stamp{
        margin-right: 2em;
    }
    .button-bar{
        margin-top: 0em;
    }
}