<section class="row example-row">
  <div class="guts">
    <!--geography stuff-->
    <h2>What will my note look like?</h2>
    <div class="col-xs-12 col-sm-8 example-letter-box">
      <img class="example-letter" src="img/example-letter.jpg" alt="An example letter" longdesc="an example of a hand written letter: 1st August 2014
    Sydney
    Dear reader,
    Many of you have asked to see an example of what a letter looks like. I thought that this was an excellent idea but I didn't really know how to show you an example without breaking trust and showing someone's letter. 
    >Then it occurred to me that I could write a letter directly to you!<
    This is a letter, hand written in Sydney, ready to go anywhere in Australia!
    I must get on if I am to make this afternoon's post but if you have any questions then just email me at ben@postednot.es and I'll do what I can.

    Your humble servant

    Ben" style="width: 70%;" />
    </div>
    <div class="col-xs-12 col-sm-4">
      <p>This is an example of a letter sent in Australia. Scribes in different countries have different writing styles, but you get the picture!</p>
    </div>
  </div>
</section>
