<header class="jumbotron header-page">
  <!--cover page-->
  <div class="container">
    <div class="caption
                col-xs-12 col-sm-6 col-sm-offset-3 text-center">
      <h1>Posted Notes</h1>
      <p>Beautiful handwritten letters.
        <br>No stamps, no post office.</p>
      <!-- {% capture my_include %}{% include copy/what.md %}{% endcapture %}
      { my_include | markdownify }} -->
    </div>
    <div class='button-box'>
      <a href="#note" class="btn btn-default btn-lg btn-ghost
                             col-xs-12
                             col-sm-6 col-sm-offset-3
                             col-md-4 col-md-offset-4">
        <span class="glyphicon glyphicon-chevron-down"></span>
        <span class="button-text">Start writing now!</span>
        <span class="glyphicon glyphicon-chevron-down"></span>
      </a>
    </div>
  </div>
</header>