<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Posted Notes
    </title>

    <!-- JQuery -->
    <!-- not async to make sure it loads before all the other things that depend on it -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <!-- Bootstrap -->
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <script async defer src="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <!-- Font -->
    <link async defer href='https://fonts.googleapis.com/css?family=Roboto+Slab:300,400' rel='stylesheet' type='text/css'>
    <!-- Posted notes specific -->
    <script async defer src="js/header.js"></script>
    
    <link async defer type="text/css" rel="stylesheet" href="{{ '/css/main.css' | prepend: site.baseurl }}">
    
    {% include social-meta.html %}
    {% include favicons.html %}
    {% include register-service-worker.html %}
</head>