<section class="row how-row">
  <div class="guts">
    <!-- <h2>How&hellip;</h2> -->
    <div class="col-xs-12 col-sm-4">
      <div class="row">
        <div class="col-xs-3 col-sm-12 baller">
          <div class='numbered-illustration'>
            <img src="img/write-a-note.png" class="ball-icon" alt="The posted notes screen being filled in." longdesc="An illustration of the posted notes screen being filled in.">
            <div class="number hidden-xs">1</div>
          </div>
        </div>
        <div class="col-xs-9 col-sm-12">
          <p class="text-left">You type a short letter. It's $5.</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="row">
        <div class="col-xs-3 col-sm-12 baller">
          <div class='numbered-illustration'>
            <img src="img/pencil.png" class="ball-icon" alt="A pencil" longdesc="An illustration of a pencil (although a pen would make more sense!)">
            <div class="number hidden-xs">2</div>
          </div>
        </div>
        <div class="col-xs-9 col-sm-12">
          <p class="text-left">We take your words and put pen to paper, then letter to letter box.</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="row">
        <div class="col-xs-3 col-sm-12 baller">
          <div class='numbered-illustration'>
            <img src="img/letter.png" class="ball-icon" alt="A letter coming out of an envelope." longdesc="An illustration of a letter coming out of an envelope.">
            <div class="number hidden-xs">3</div>
          </div>
        </div>
        <div class="col-xs-9 col-sm-12">
          <p class="text-left">A few days later someone gets to open a beautiful handwritten note.</p>
        </div>
      </div>
    </div>
  </div>
</section>
