textarea {
  border: 0;
  height: 100%;
  padding: 1em;
  width: 100%;

  @include media-query($on-palm) {
    border: 0;
    width: 100%;
  }
}

.card-holder,
.envelope-holder {
  padding: 0;
}

.card,
.envelope {
  background-color: $paper-colour;
  border: 1px solid $shadow-colour;

  @include media-query($on-palm) {
    box-shadow: none;
    margin: 1em;
    padding: 1em;
    position: relative;
  }

  @include media-query($tiny) {
    margin: 0;
    padding: .5em;
  }
}

.card {
  box-shadow: 10px 10px 20px 0 $shadow-colour;
  height: 44em;
  padding: 2em 1em;

  @include media-query($on-palm) {
    height: 80vh;
    box-shadow: 5px 5px 10px 0 $shadow-colour;
  }

  @include media-query($tiny) {
    margin: 0;
    margin-bottom: 1em;
    padding: .5em;
  }
}

.card-holder {
  z-index: 7000;
}

.envelope {
  box-shadow: 5px 5px 10px 0 $shadow-colour;
  height: 30em;
  margin-top: 4em;
  padding-bottom: 12em;
  padding-right: 4em;
  padding-top: 4em;

  @include media-query($on-palm) {
    height: 18em;
    margin-top: 1em;
    padding-top: 1em;
  }

  textarea {
    padding-left: 20%;
    padding-right: 15%;

    @include media-query($on-palm) {
      height: 12em;
      margin-left: 0;
      padding-left: 10%;
      padding-right: 10%;
    }
  }
}

.textarea-error {
  border: 2px solid $error-colour;
}

.t-and-c {
  margin-bottom: 2em;
  margin-top: 2em;

  @include media-query($on-palm) { margin: 0; }

  & input[type=checkbox] {
    @include media-query($on-palm) {
      margin: 1.5em;
      transform: scale(3);
    }
  }
}

.t-and-c-error {
  color: $error-colour;
  display: 0;
  padding-left: 11em;
  width: 60%;
}

@include media-query($on-palm) {
  .tc-text {
    display: inline-block;
    transform: translateY(1em);
    width: 50%;
  }
}

.card-error-message,
.envelope-error-message {
  //border: 1px solid;
  color: $error-colour;
  display: none;
  font-size: 1.5em;
  position: absolute;
  text-align: center;
  top: 50%;
  visibility: hidden;
  width: 85%;
}

.card-error-message {
  @include media-query($on-palm) {
    padding-left: .5em;
    top: 35%;
    width: 75%;
  }
}

.envelope-error-message {
  top: 64%;

  @include media-query($on-palm) {
    padding-left: 2em;
    top: 50%;
    width: 70%;
  }
}

.stamp {
  background-color: $stamp-colour;
  height: 5em;
  margin-bottom: 4em;
  padding: .5em;
  text-align: center;
  width: 8em;

  @include media-query($on-palm) {
    height: 3em;
    margin-bottom: 1em;
    margin-right: 0;
    width: 4em;
  }

  svg {
    height: 100%;

    .pigeon {
      fill: $paper-colour;
    }
  }

}

.char-count {
  margin-left: .3em;
}


.work-address {
  background: yellow;
  border: 2px solid white;
  border-radius: 1em;
  box-shadow: 15px 15px 30px 0 $shadow-colour;
  left: 2em;
  padding: 1em 1em .5em;
  position: absolute;
  top: 2em;
  width: 50%;

  @include media-query($on-palm) {
    box-shadow: none;
    position: initial;
    width: initial;
  }

  h2 {
    font-size: 130%;
    margin: 0 0 .3em 0;
  }

  p {
    font-size: 100%;
    @include media-query($on-palm) { font-size: 120%; }
  }
}

.panel-title a {
  display: block;
  font-size: 130%;
  text-align: right;
  width: 100%;
}

.panel-body {
  background-color: $contrast-bg-colour;
  border-radius: 1em;
  color: $main-bg-colour;
  margin-left: 40vw;
  margin-top: 1em;
  min-width: 30vw;
  padding: 1em;

  @include media-query($on-palm) {
    margin-left: 0;
  }
}
