.example-letter-box {
  height: 12em;
  overflow: hidden;
  position: relative;
  text-align: center;
  transition: height .7s ease;

  @include media-query($on-palm) {
    height: inherit;
  }
}

.example-letter-box::before {
  border-bottom: 1px solid $border-colour;
  border-top: 1px solid $border-colour;
  content: 'Click to see the whole letter';
  display: block;
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;

  @include media-query($on-palm) {
    content: '';
  }
}

.example-letter {
  width: 70%;

  @include media-query($on-palm) {width: 100%;}
}

.letter-box-open {
  height: inherit;

  &::before {
    content: '';
  }
}
