.numbered-illustration {
  margin-bottom: 1em;
  position: relative;
}

.illustration {
  width: 100%;
}

.number {
  background-color: $error-colour;
  border-radius: 50%;
  color: $main-bg-colour;
  font-size: 2em;
  left: 7%;
  padding: .3em;
  position: absolute;
  text-align: center;
  top: 7%;
  width: 2em;
}

.ball-icon {
  width: 100%;
}

.baller {
  @include media-query($tiny) {
    padding: 0;
  }
  @include media-query($on-palm) {
    padding: 0;
  }
}
