.numbered-illustration {
  position: relative;
  margin-bottom: 1em;
}

.illustration {
  width:100%;
}

.number {
  position: absolute;
  left: 7%;
  top: 7%;
  width: 2em;
  padding: 0.3em;
  border-radius: 50%;
  background-color: rgba(222, 30, 38, 1);
  font-size: 2em;
  color: white;
  text-align: center;
}

.ball-icon {
  width: 100%;
}
