.us {
  background-image: url('/img/us.jpg');
  background-position: 50% 38%;
  background-size: 138%;
  border-radius: 50%;
  display: inline-block;
  height: 40em;
  width: 40em;
}

.email-form {
  padding: 0.5;
  margin-bottom: 1em;
}

.footer-row {
  font-size: 62.5%;
  padding-bottom: 4em;
}

.social-icon {
  height: 5em;
  width: 5em;
}

.airmail-stripe {
  background-color: $airmail-stripe-blue;
  background: repeating-linear-gradient(117deg, $airmail-stripe-blue 0, $airmail-stripe-blue 30px, transparent 30px, transparent 60px, $airmail-stripe-red 60px, $airmail-stripe-red 90px, transparent 90px, transparent 120px);
  border-radius: 1em;
  height: 2em;
  margin-bottom: 3em;
  margin-top: 3em;
}

.email-form label {
  //this is a terribel hack to get the accessibility rating up
  display: block;
  color: rgba(0,0,0,0);
}
