.btn-ghost {
  background-color: rgba($main-bg-colour, .8);
  border-color: $error-colour;
  color: $error-colour;
  padding: 1em;
  transition: all 0.5s ease;
}

.jumbotron {
  //height:92.5%;
  height: 50%;
  position: relative;

  .container {
    margin: 0;
    padding: 0;
    width: 100%;
  }
}

.header-page {
  color: $error-colour;
  background-image: url('img/writing-a-letter.gif');//etching dude
  //background-image: url('http://upload.wikimedia.org/wikipedia/commons/a/a8/Gabriel_Metsu_-_Man_Writing_a_Letter.JPG'); //painting dude
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo-bird {
  height: 8em;
}

.caption {
  background-color: rgba($main-bg-colour, .95);
  padding-top: .2em;
  padding: 1em;
}

.page-info {
  height: 5em;
}

.down-arrow {
  position: absolute;
  top: 90%;
  width: 100%;
}

.btn .button-text {
  display: inline;
  margin-left: 1em;
  margin-right: 1em;
}

.button-box {
  bottom: 2em;
  height: inherit;
  left: 0;
  position: absolute;
  width: 100%;
}
