@charset "utf-8";

//colour variables
$error-colour: red;
$paper-colour: white;
$shadow-colour: rgba(0, 0, 0, 0.3);
$stamp-colour: rgba(222, 30, 38, 1);
$border-colour: silver;

@-ms-viewport {//this supposedly fixes it for win mob 8
  width: device-width;
}

* { box-sizing: border-box; }

//everywhere stuff
body {
  background: rgba(62, 71, 157, 0.05);
  font-family: "Roboto Slab";
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 400;
}

html,
body {
  height: 100%;
  width: 100%;
}

p {
  font-size: 133.3333333%;
  orphans: 2;
  widows: 2;
}

.svg-container {
  display: inline-block;
  overflow: hidden;
  padding-bottom: 100%;
  position: relative;
  vertical-align: middle;
  width: 100%;
}

.svg-content {
  display: inline-block;
  left: 0;
  position: absolute;
  top: 0;
}


@import 'header';
// svg pens stuff
@import 'pen-choice';
//message and envelope
@import 'card';
@import 'explanation';
@import 'example';

.invisible-bit {
  display: none;
}


.note-row {
  padding-bottom: 4em;
  position: relative;
}

.panel-title a {
  display: block;
  font-size: 130%;
  text-align: right;
  width: 100%;
}

.what-row {
  padding-bottom: 4em;
}

.what-row-text {
  column-count:3;
}

.how-row {
  padding-bottom: 4em;
}

@import 'where-row';


// ul.nav-menu {
//     float: right;
//     li {
//         display: inline-block;
//         padding-left: 3em;
//     }

// }


@import 'paypal-button';

@import 'footer';

//media query targeting xs
@import 'xs';
