//media query targeting xs
@media all and (max-width: 768px){
  .what-row-text {
    column-count: 1;
  }

  .row {
    margin: 0;
  }

  .guts {
    padding: 0 1em;
  }

  .note-row {
    padding-bottom: 0;
  }

  .button-bar {
    margin-top: 0;
  }

  input#email-button {
    height: 6em;//make the button big enough to touch
    margin-top: 1em;
  }
}
